html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

h1 {
  font-size: 50px;
}

#page {
  height: 100%;
  background-color: #FAF9F6;
  width: 100%;
  position: absolute;
  min-height: 540px;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
}

#game-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  height: 25vh;
}

.player-area {
  width: 25%;
  min-height: 100%;
  height: 100%;
  align-items: center;
}

#roll-area {
  width: 30%;
  height: 100%;
  align-items: center;
  
}

#show-roll {
  width: 100%;
  height: 65%;
  display: block;
  align-items: center;
  line-height: 10vh;
  font-size: 2.5vw;
}

#buttons {
  display: block;
  width: 100%;
  height: 30%;

}

ul {
  list-style: none;
}

#player1-score {
}

#player2-score {
}

#score1 {
}

.score {
  top: 30%;
  font-size: 8vw;
  line-height: 200%;
}

.names {
  line-height: 150%;
  font-weight: bold;
  font-size: 3vw;
}